@import '/styles/mixins';

.header {
  background-color: var(--primary-500);
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  border-bottom: 1px solid var(--neutral-600);

  .toggleMenu {
    cursor: pointer;
  }

  .navbar {
    position: absolute;
    left: 50%;
    top: -1000%;
    transition: all 0.55s;
    background-color: var(--primary-800);
    z-index: 99;
    width: 95%;
    padding: 20px;
    border-radius: 6px;
    transform: translateX(-50%);

    > ul {
      display: flex;
      flex-direction: column;
      gap: 20px;
      font-size: 16px;

      .listItem {
        cursor: pointer;
        color: var(--neutral-100);
        display: flex;
        align-items: center;
        gap: 10px;
      }

      .listItemActive {
        color: var(--helper-500);
      }
    }
  }

  .navbarActive {
    top: 80px;
  }

  @include above(700px) {
    display: none;
  }
}
