.cardFile {
  max-width: 160px;
  border-radius: 10px;
  background-color: black;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;

  > img {
    width: 100%;
    max-height: 110px;
    object-fit: cover;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }

  .content {
    background-color: var(--neutral-700);
    padding: 8px 10px;
    border-end-end-radius: 10px;
    border-end-start-radius: 10px;
  }
}
