@import '/styles/mixins';

.modalOverlay {
  position: fixed;
  right: -1000%;
  z-index: 999;
  min-height: 100vh;
  min-width: 100vw;
  background-color: rgba(0, 0, 0, 0.8);
}

.modalOverlayActive {
  inset: 0;
}

.insideSpace {
  padding: 30px;
}

.modal {
  transition: all 0.9s;
  position: fixed;
  overflow-y: auto;
  z-index: 999 !important;
  right: -1000%;
  top: 0;
  height: 100%;
  background-color: #1d2330;

  > h4 {
    padding-inline: 50px;
    font-weight: 600;
    font-size: 20px;
  }

  .imageInfo {
    padding-inline: 50px;
    margin-block: 30px;

    > span {
      font-size: 14px;
      font-weight: 600;
    }

    .contentImageInfo {
      display: flex;
      align-items: flex-start;
      gap: 20px;

      div > span {
        font-weight: 600;
      }

      div > p,
      span {
        font-size: 14px;
        color: var(--neutral-500);
      }

      div p > span {
        text-transform: uppercase !important;
      }
    }
  }

  @media (min-width: 1100px) {
    width: 600px;
  }

  .image {
    border-radius: 6px;
    max-width: fit-content;
  }

  .imageName {
    word-break: break-all;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    max-width: 300px;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 1.3;
    font-size: 15px !important;
  }
}

.modalActive {
  right: 0;
  transition: all 0.3s;
}

.imageVariationsContainer {
  > p {
    padding-inline: 50px;
    font-size: 14px;
    font-weight: 600;
  }
}

.imageVariationsWrapper {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-inline: 50px;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  -webkit-overflow-scrolling: touch;
  border-radius: 2px;
  background-color: black;

  &::-webkit-scrollbar {
    display: none;
  }

  .scrollImageWrapper {
    padding: 12px 0;
    position: relative;
    height: 100%;
    display: flex;

    > img {
      border-radius: 3px;
    }

    .imageActive {
      position: relative;
      outline: 3px solid var(--helper-500);

      &::before {
        content: 'PEDRO';
        position: absolute;
        width: 400px;
        height: 100px;
        background-color: blue;
        inset: 0;
        z-index: 999 !important;
      }
    }
  }

  .scrollImageWrapperActive {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      width: 50px;
      height: 2px;
      background-color: var(--helper-500);
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.metadataWrapper {
  padding-inline: 50px;

  > h5 {
    margin-block: 30px;
  }

  > img {
    margin-bottom: 30px;
  }

  > article {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .infoWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    > span {
      color: var(--neutral-500);
      font-weight: 600;
    }
  }
}

.containerWrapper {
  padding-inline: 50px;
  margin-block: 30px;
}

.snippetWrapper {
  background-color: var(--primary-500);

  .selectLanguage {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--neutral-700);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;

    .copyButton {
      padding: 10px;
      background-color: transparent;
      border-radius: 10px;
      border: 2px solid var(--helper-500);
      color: var(--helper-500);
      font-weight: 600;
      cursor: pointer;
      min-width: 70px;
      max-height: 45px;
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        color: var(--helper-500);
      }
    }

    .buttonGroup {
      > button {
        display: flex;
        align-items: center;
        gap: 9px;
        background-color: transparent;
        color: #ffffffb3;
        cursor: pointer;
      }

      .buttonSelectLanguageActive {
        color: var(--helper-500);
      }
    }
  }

  .content {
    border: 1px solid var(--neutral-700);
    border-top: none;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;

    pre {
      margin: 0 !important;
    }

    code {
      display: flex;
      flex-wrap: wrap;
    }
  }
}
