.sidebar {
  min-width: fit-content;

  .iconNavigationItem {
    cursor: pointer !important;
    padding: 10px;
    transition: all 0.1s ease;

    &:hover {
      border-radius: 5px;
      background-color: var(--primary-300);
    }
  }

  .iconNavigationItemActive {
    border-radius: 5px;
    background-color: var(--primary-300);
  }

  .listWrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: center;
    width: 100%;

    .listItem {
      color: #9fa8c0 !important;
      width: 100%;
      font-size: 16px;
      padding: 10px;
      transition: all 0.1s ease;
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 10px;
      color: var(--neutral-50);

      > svg {
        color: #9fa8c0;
        stroke: #9fa8c0;
        fill: #9fa8c0;
      }

      &:hover {
        border-radius: 5px;
        background-color: var(--primary-300);
        color: white !important;

        > svg {
          color: white;
          stroke: white;
          fill: white;
        }
      }
    }

    .listItemActive {
      border-radius: 5px;
      background-color: var(--primary-300);
      color: white !important;

      > svg {
        color: white;
        stroke: white;
        fill: white;
      }
    }
  }
}
