
.dropdownWrapper {
  padding-bottom: 20px;

  .label {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 14px;
    color: var(--theme-5);
    margin-bottom: 8px;
    line-height: 1.2;
  }

  &.noIcon .select {
    padding-left: 5px;
  }

  .select {
    padding: 10px 5px 10px 40px;
    background-color: transparent;
    border-style: solid;
    font-weight: normal;
    color: var(--theme-1);
    min-height: 46px;
    outline: none;
    will-change: border-color;
    transition: 0.2s border-color, 0.2s box-shadow, 0.2s -webkit-box-shadow;
    padding-left: 40px;


    input::placeholder {
      opacity: 0.6;
      font-size: 16px !important;  
      color: var(--theme-5);
    }
  }

  &.bordered .select {
    border-width: 1px;
    border-color: var(--theme-4);
    border-radius: 4px;
  }

  &.clean {
    .label {
      font-size: 16px;
      margin-bottom: 2px;
      display: block;
      font-weight: normal;
    }
    .select {
      border: none;
      border-bottom: solid 1px var(--theme-4);
      outline: none;
      border-radius: 0;
  
      &:focus {
        box-shadow: none;
      }
  
      :global {
        .react-dropdown-select-dropdown {
          border-top-left-radius: 0;
          border-top-right-radius: 0;
          border-color: solid 1px var(--theme-4);
        }
      }
    }
  }

  &.error {
     .label {
      color: var(--theme-error);
    }

     .select {
      border-color: var(--theme-error);


      & input::placeholder {
        color: var(--theme-error);
      }
    }
  }

  .selectWrapper {
    position: relative;

      .icon {
        width: 20px;
        height: 20px;
        fill: var(--theme-4);
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 12px;
      }
  }
  
  :global {

    span {
      line-height: 1.4;
    }

    .react-dropdown-select-option {
      margin: 0 3px 2px;
      background-color: var(--theme-8);
      font-size: 15px;
      color: var(--theme-1);

      .react-dropdown-select-option-remove {
        &,
        &:hover {
          color: var(--theme-5);
        }
      }
    }

    .react-dropdown-select-content {
      display: flex;
      min-height: 22px;
      max-width: calc(100% - 30px);
      overflow: auto;
      padding-right: 30px;
      -ms-overflow-style: none;
      scrollbar-width: none;
      
      &::-webkit-scrollbar {
        display: none;
      }
    }

    .react-dropdown-select-dropdown {
      width: 100%;
      top: 45px;
      left: -2px;
      box-shadow: none !important;
      border: solid 1px var(--theme-success);
      border-radius: 4px;
      border-top-color: transparent;
      border-top-width: 0;
      font-size: 14px;
      box-sizing: content-box;
    }

    .dropdown-select-item {
      display: flex;
      align-items: center;
      padding: 14px;
      color: var(--theme-5);

      .banner {
        display: block;
        width: 20px;
        margin-right: 10px;
      }

      &.dropdown-select-item-selected {
        color: white;
        background-color: var(--theme-success);
      }

      &:not(.dropdown-select-item-selected):hover {
        background-color: var(--theme-8);
      }
    }

    .react-dropdown-select-dropdown-handle {
      color: var(--theme-5);
    }
  }
}

.errorWrapper {
  position: absolute;
  transform: translateY(5px);
  font-size: 12px;
  color: var(--theme-error);
}
