.radioButton {
  margin-bottom: 0;
  border-radius: 10px;
  max-width: fit-content;
  position: relative;

  div {
    display: flex;
    justify-content: center;
    flex-direction: column !important;
  }

  input[type='radio']:checked + div {
    border: 1px solid var(--helper-500);

    svg {
      color: var(--helper-500);
    }
  }

  svg {

    width: 50px;
    height: 50px;
  }

  input[type='radio']:not(:checked) + div {
    border: 1px solid var(--neutral-500);
  }
}
