.wrapper {
  background-color: var(--primary-300);
  border-radius: 10px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;

  > p {
    background-color: #d9d9d91e;
    font-weight: 600;
    font-size: 14px;
    color: white;
    border-radius: 10px;
    padding: 10px;
  }

  > input {
    background-color: transparent;
    flex: 1;
  }

  > button {
    padding: 10px;
    background-color: transparent;
    border-radius: 10px;
    border: 2px solid var(--helper-500);
    color: var(--helper-500);
    font-weight: 600;
    cursor: pointer;
    min-width: 70px;
    max-height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      color: var(--helper-500);
    }
  }
}
