.container {
  width: 100%;
  max-width: 700px;
  display: flex;
  gap: 50px;
  padding: 20px 0;
  flex-wrap: wrap;
}

.widgetIntegration {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 170px;
  align-items: center;
  gap: 20px;
  border-radius: 6px;
  border: 1px solid #71768480;
  cursor: pointer;
  transition: all 100ms ease-in;
  position: relative;

  .contentContainer {
    color: #ffffffb3;
    height: 30px;
  }

  > figure {
    height: 100px;
    display: flex;
    align-items: center;
  }

  .badge {
    background-color: var(--primary-500);
    font-size: 14px;
    color: var(--helper-500);
    font-weight: 600;
    border: 2px solid var(--helper-500);
    border-radius: 20px;
    padding: 5px 13px;
    position: absolute;
    top: -15px;
    right: -15px;
  }
}
