@import '/styles/mixins';

.imageLayoutRoot {
  display: flex;
  flex-direction: row;

  .projectNameTitle {
    font-size: 18px;
    font-weight: 600;
    margin-left: 10px;
    margin-block: 10px;
  }

  .imageLayoutScrollable {
    height: 100vh;
    overflow: auto;
    width: 100%;
    flex: 1;

    .languageSwitcherWrapper {
      padding: 20px 60px;
      display: flex;
      justify-content: flex-end;

      @include below(700px) {
        display: none;
      }
    }

    .container {
      margin: 0 auto;
      padding: 30px;

      @include above(500px) {
        padding: 30px 60px;
      }
    }
    .title {
      margin-bottom: 25px;
    }
  }

  .logoTypo {
    padding: 14px 0;
    width: 140px;
    display: flex;
    align-items: center;

    img {
      max-width: 100%;
    }
  }
}
