.externalLink {
  display: flex;
  color: white;
  cursor: pointer;
  width: fit-content;
  margin-top: 5px;
  border-radius: 7px;
  border: solid 1px var(--neutral-700);
  padding: 20px;

  &:visited, &:hover, &a:active {
    color: var(--neutral-400);
  }

  span {
    text-decoration: underline;
  }

  h6 {
    font-size: 18px;
  }

  p {
    font-size: 16px;
  }

  svg {
    fill: var(--neutral-400);
  }

  & + .externalLink {
    margin-left: 20px;
  }
}