.loadingPageWrapper {
  height: 100vh;
  display: flex;

  :global {
    .loader {
      margin: auto;
      width: 90px;
      height: 90px;
    }

    .loader div {
      border-color: #5E5CE6 transparent transparent transparent;
    }
  }
}
