.pagination {
  display: flex;
  margin: 50px 0;
  align-items: center;

  li {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  :global {
    .next,
    .previous { 
      display: flex;
      align-items: center;
      justify-content: center;
  
      > a {
        display: inline-block;
        margin-top: 5px;
      }
    }
  }

  li[class='selected'] {
    border-radius: 4px;
    background-color: var(--primary-200) !important;
  }
}
