.pagination {
  display: flex;
  margin: 50px 0;

  li {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  li[class='next'],
  li[class='previous'] {
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      margin-top: 10px;
    }
  }

  li[class='selected'] {
    border-radius: 4px;
    background-color: var(--primary-200) !important;
  }
}
