*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

.container {
  width: 92%;
  max-width: 1420px;
  margin: 0 auto;
}

.loader {
  margin: auto;
  width: 36px;
  height: 36px;
}

*,
*:focus,
*:hover {
  outline: none;
}

html,
body {
  font-family: 'Work Sans', sans-serif;
  font-weight: normal;
  background-repeat: no-repeat;
  background-color: #0C1019; //var(--joy-palette-primary-500);

  @media screen and (max-width: 767px) {
    font-size: 14px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}
