:root {
  /* Cores Primárias */
  --primary-50: #686c70;
  --primary-100: #9fa8c0;
  --primary-200: #43474e;
  --primary-300: #272840;
  --primary-400: #1f222b;
  --primary-500: #0c1019;
  --primary-600: #160c17;
  --primary-700: #160d0c;
  --primary-800: #13140c;
  --primary-900: #0c130f;

  /* Cores Helper */
  --helper-50: #8288f5;
  --helper-100: #7a7ff3;
  --helper-200: #7275f0;
  --helper-300: #6a6ced;
  --helper-400: #6363ea;
  --helper-500: #5e5ce6;
  --helper-600: #6b4ecb;
  --helper-700: #7241b0;
  --helper-800: #733594;
  --helper-900: #6d2978;

  /* Cores Neutras */
  --neutral-50: #fafafa;
  --neutral-100: #eeeeee;
  --neutral-200: #eeeeee;
  --neutral-300: #e1e1e1;
  --neutral-400: #babbbe;
  --neutral-500: #8e8e8e;
  --neutral-600: #4b4b4b;
  --neutral-700: #1d232d;

  /* Cores de Perigo */
  --danger-50: #fffbfb;
  --danger-100: #fef2f2;
  --danger-200: #ffebee;
  --danger-300: #ffccd2;
  --danger-400: #f49898;
  --danger-500: #eb6f70;
  --danger-600: #f64c4c;
  --danger-700: #ec2d30;

  /* Cores de Aviso */
  --warning-50: #fffdfa;
  --warning-100: #fff9ee;
  --warning-200: #fff7e1;
  --warning-300: #ffeab3;
  --warning-400: #ffdd82;
  --warning-500: #ffc62b;
  --warning-600: #ffad0d;
  --warning-700: #fe9b0e;

  /* Cores de Sucesso */
  --success-50: #fbfefc;
  --success-100: #f2faf6;
  --success-200: #e5f5ec;
  --success-300: #c0e5d1;
  --success-400: #97d4b4;
  --success-500: #6bc497;
  --success-600: #47b881;
  --success-700: #0c9d61;

  /* Outros Estilos */
  --h1-color: #1f1f1f;
  --h1-font-size: 42px;

  /* Fontes */
  --font-display: 'Work Sans', sans-serif;
  --font-body: 'Work Sans', sans-serif;
}
