:root {
  --base-theme-color: #fff;
  --feat-theme-color: #1691b0;
  --content-theme-color: #222b34;
  --secondary-theme-color: #50fa7b;
  --light-content-theme-color: #586F86;
  --darken-base-theme-color: hsl(223, 18%, 32%);

  --background-color: #f6f9fc;

  --link-theme-color: #28b8dd;

  --input-background: #E7EEF5;

  --theme-success: #0984e3;
  --theme-error: #e06a6a;
  --theme-warning: #fbd479;

  --theme-bounty: #1abc9c;
  --theme-status: #3498db;
  --theme-skills: #f0932b;
}
