.wrapper {
  width: 100%;
  overflow-x: auto;
}

.table {
  width: 100%;
  border-collapse: separate;

  thead tr th {
    text-align: left;
  }

  td,
  th {
    padding-block: 10px;
  }

  td + td,
  th + th {
    padding-left: 20px;
    white-space: nowrap;
  }

  tbody tr td {
    vertical-align: middle;
    margin-top: 20px;
  }
}
